﻿<!DOCTYPE html>
<html>
<head>
    
  
   
   <!-- morris0.5.1-->
    <script src="morris_new/jquery.min.js"></script>
    <script src="morris_new/raphael-min.js"></script>
    <script src="morris_new/morris.js"></script>
    <script src="morris_new/prettify.min.js"></script>
    <link rel="stylesheet" href="morris_new/prettify.min.css">
    <link rel="stylesheet" href="morris_new/morris.css">

    <!-- chartjs-->
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            

        </nav>
        <!--/. NAV TOP  -->
        
            {{{body}}}

         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->

    <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>	
	
	<script src="assets/js/easypiechart.js"></script>
	<script src="assets/js/easypiechart-data.js"></script>
	
	
    <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>
   
</body>
</html>
