
*{
	margin:0px;
	padding:0px;
	border:none;
}

ul li {
	list-style:none;
}
/* dinh dang menu ngang*/
#menu {
	font-family:Segoe UI;
	margin:0px auto;
	background:#333;
	overflow:hidden;
	height:50px;
}

#menu ul li {
	float: left;
}
#menu ul li a{
	text-align:center;
	text-decoration:none;
	color:#FFF;
	font-size: 20px;
	line-height:50px;
	display:block;
	padding: 0px 20px 0px 20px;
}
#menu ul li a:hover {
	background:#3C9;
}
/*-----------------------------------------------------------------*/
/* Dinh dang cho trang control*/
#noidung_control h1 {
	font-family:sans-serif;
	text-align:center;
	margin-top:50px;
	color: #2F09EE;
}

#noidung_control_1{
	text-align: center;
	
}
.device {
	margin-top:50px;
	margin-left:60px;
	margin-right:50px;
	width:220px;
	height:280px;
	background-color: #665851;
	padding: 20px;
	display:inline-block;
	text-align:center;
	font-family:sans-serif;
	font-size:30px;
	color: white;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
}
.box{
    position: relative;
    text-align: center;
    width: 100px;
    height: 80px;
    margin: 20px auto 20px auto;
}
.Button{
    display: block;
    position: absolute;
    font-family:sans-serif;
	font-size:35px;
    top: 26px;
    width: 100px;
}
/*------------------------------------------------------------------*/
/* Dinh dang cho trang Login*/
.dangnhap{
	text-transform: uppercase;
	color: white;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 1.5em;
	line-height: 2.8em;
	background-color: #665851;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}
.login-box{
	background-color: white;
	max-width: 400px;
	margin: 0 auto;
	position: relative;
	top: 100px;
	padding-bottom: 40px;
	border-radius: 8px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}
.login-box label{
	font-weight: 800;
	font-size: .9em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 3em;
}
.login-box input {
	text-align: center;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;

}
.login-box button {
	margin-top: 20px;
	border: 0;
	border-radius: 3px;
	color: white;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor:pointer;
	outline: none;
}
/*-----------------------------------------------------------------*/
/* Dinh dang cho trang Sensor */
#dinhdang_sensor h1{
	text-transform: uppercase;
	color: white;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 1.5em;
	line-height: 2.8em;
	background-color: #665851;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-family: segoe UI;
}
#dinhdang_sensor {
	font-family: Segoe UI;
	margin:0px auto;
	background: #2B3502;
	overflow:hidden;
	
}
#dinhdang_sensor ul li {
	float: left;
	
	text-align:center;
	text-decoration:none;
	color:#FFF;
	line-height:50px;
	margin: 0px auto;
	display:block;
	padding: 0px 275px 0px 295px;
}
#dinhdang_sensor ul li:hover{
	background: #047DB9;
}
/*---------------------------------------------------------------------*/
/* CSS cho dong ho hen gio*/
.alarmClockIcon{
	width: 40px;
	height: 40px;
}
.buttonSetTime{
	float: right;
    width: 50px; 
    height: 40px; 
    margin-top: 30px; 
    border: none;
    background-color: white;
}
.modal-title{
	font-family: Segoe;
	color: black;
	font-size: 20px;
}
.modal-body{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 20px;
}