
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>I-home</title>
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- Morris Chart Styles-->
<link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
	<!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />

        <!-- Custom Styles-->
        <link href="assets/css/custom-styles.css" rel="stylesheet" />
        <!-- Google Fonts-->
       <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

       <!-- chartjs-->
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script></script>
</head>

<body>
	<div id="menu">
    	<ul>
        	<li><a href="home" target="_parent">HOME</a></li>
            <li><a href="control" target="_parent">CONTROL</a></li>
            <li><a href="sensor" target="_parent">SENSOR</a></li>
            <li><a href="#">CAMMER</a></li>
            <li><a href="#">CHART</a></li>
            <li><a href="#">SUMMARY</a></li>
        </ul>
     </div>

     <div>
         <!-- /. PAGE WRAPPER  --> 
<div id="page-wrapper" >
    <div id="page-inner">
        <style>
        img.logo {
            width:100px;
            height:100px;
        }
        img.houseoverview{
            float:left;
            margin-left: 1cm;
            margin-top: 1cm;
            width:500px;
            height:267px;
        }
        h1.titlesmarthome{
            font-size: 250%;
            margin-top: 1cm;
            margin-left: 3.5cm;
        }
        div.boxDistance{
            margin-top: 1.5cm;
        }
        div.box{
            position: relative;
	        text-align: center;
	        width: 120px;
	        height: 120px;
	        margin: 20px auto 10px auto;
        }
        
        </style>

        <h2> CHART PAGE</h2>
        <br>
        <div>
            <form action="/filterPower">
                Choose date:
                <input type="number" name="chartChooseDate" min="1" max="31" value = {{date}}>
                /
                <input type="number" name="chartChooseMonth" min="1" max="12" value = {{month}}>
                /
                <input type="number" name="chartChooseYear" min="2017" max="2040" value = {{year}}>
                <button type="submit">Filter </button>
            </form>
        </div>
        
        <div class = "boxDistance">
            <div class="col-md-14 col-sm-14 col-xs-14">                     
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Power Consumption Chart
                    </div>
                    <div class="panel-body">
                         <div style="width:100%; height:100%">
                             <canvas id="myChart"></canvas>
                         </div>
                    </div>
                </div>            
            </div>
        </div> 

       

    </div>    
</div>
     </div>
</body>

<script>
    var xdata = ['1:00','3:30','4:15','6:15','7:15','8:15'];
    //var xdata = [{{chartTime}}];
    var ydata = [{{chartPower}}];//['30','40','50'];

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: xdata,
            datasets: [{
                label: 'Power',
                data: ydata,
                backgroundColor: 'rgba(255, 159, 64, 0.2)',
                borderColor:'rgba(255, 159, 64, 1)',
                borderWidth: 3,
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Power (W)'
                    }
                }],
            }
        }
    });
</script>
</html>

