<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>I-home</title>
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="menu">
    	<ul>
        	<li><a href="login" target="_parent">HOME</a></li>
            <li><a href="login" target="_parent">CONTROL</a></li>
            <li><a href="login" target="_parent">SENSOR</a></li>
            <li><a href="login" target="_parent">CAMMER</a></li>
            <li><a href="login" target="_parent">CHART</a></li>
            <li><a href="login" target="_parent">SUMMARY</a></li>
        </ul>
    </div>

    <div>
        <div class="login-box">
                <div>
                    <h1 class="dangnhap">Đăng nhập</h1>
                </div>
            <form action="/dangnhap", method="POST">
                <br>
                <label for="User name">User name</label>
                <br>
                <input type="text" id="username" name="username" placeholder="Username">
                <br>
                <label for="Password">Password</label>
                <br>
                <input type="text" id="password" name="password" placeholder="Password">
                <br>
                <divs>
                        <button type="submit" > LOGIN </button>
                </div>
                <br>
            </form>
        </div>
    </div>

    
</body>
</html>