<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>I-home</title>
<link rel="stylesheet" href="style.css" type="text/css" />
<title>sensor</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

    <body>
        <div id="menu">
            <ul>
                <li><a href="home" target="_parent">HOME</a></li>
                <li><a href="control" target="_parent">CONTROL</a></li>
                <li><a href="sensor" target="_parent">SENSOR</a></li>
                <li><a href="#">CAMMER</a></li>
                <li><a href="#">CHART</a></li>
                <li><a href="#">SUMMARY</a></li>
            </ul>
        </div>
        
        <div id="dinhdang_sensor">
            <div>
                <h1>Theo dõi nhiệt độ và độ ẩm trong nhà</h1>
            </div>
            <ul>
                <li>
                        <h2 class="class_sensor">Nhiệt Độ</h2>
                
                        <h3 id="nhietdo"></h3>
                </li>
                <li>
                        <h2>Độ Ẩm</h2>
                
                        <h3 id="doam"></h3>
                </li>
                    
            </ul>
               
            
        </div>
        
        <script>
            function updateNhietdo(){
                $.ajax({
                    url: "./State",
                    dataType: 'JSON',
                    success: function(ketqua){
                        $("#nhietdo").text(ketqua.nhietdo);
                        $("#doam").text(ketqua.doam);
                        setTimeout(function(){
                        updateNhietdo()
                        },2000);
                    }
                    
                })
            }
            updateNhietdo();
        </script>
    </body>
</html>